.users-card {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}
.users-card > img {
    border-radius: 50%;
}
.users-card > span {
    display: block;
    text-transform: capitalize;
    margin-top: 5px;
    font-size: 14px;
}
.users-card:hover {
    background: #f1f1f1;
    cursor: pointer;
}