  <div *ngIf="UsersList?.length">
        <h1>Users</h1>
        <div class="users-filter">
            <label>Sort: </label>
            <select class="custom-select" [(ngModel)]="selectElement">
                <option *ngFor="let selectElement of selectElements" [ngValue]="selectElement">{{selectElement.name}}</option>
            </select>
        </div>
    <div class="row">
        <div class="users-card col-sm-3 col-lg-2" *ngFor="let user of UsersList | orderByPipe: selectElement.sort" (click)="onSelect(user)">
            <img src="{{user.picture.medium}}" alt="{{user.name.title}}. {{user.name.first}} {{user.name.last}}">
            <span>{{user.name.title}}. {{user.name.first}} {{user.name.last}}</span>
        </div>
    </div>
</div>
<div *ngIf="!UsersList?.length">Loadding...</div> 

<div *ngIf="selectedUser" class="users-modal">
    <div class="users-modal-content">
        <div class="users-modal-header">
            <h2>Информация о пользователе</h2>
            <span (click)="selectedUser = null" class="close">&times;</span>
        </div>
        <div class="users-modal-body">
            <div class="media">
                <img class="d-flex mr-3" src="{{selectedUser.picture.large}}" alt="{{selectedUser.name.title}}. {{selectedUser.name.first}} {{selectedUser.name.last}}">
                <div class="media-body">
                    <h5 class="mt-0 name">{{selectedUser.name.title}}. {{selectedUser.name.first}} {{selectedUser.name.last}}</h5>
                    <ul>
                        <li><b>Street:</b> {{selectedUser.location.street}}</li>
                        <li><b>City:</b> {{selectedUser.location.city}}</li>
                        <li><b>State:</b> {{selectedUser.location.state}}</li>
                        <li><b>Email:</b> {{selectedUser.email}}</li>
                        <li><b>Phone:</b> {{selectedUser.phone}}</li>
                        <li><b>Gender:</b> {{selectedUser.gender}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div (click)="selectedUser = null" class="bg"></div>
</div>