 <div *ngIf="UsersList?.length">
    <h1>Users</h1>
    <div class="row">
        <div class="users-card col-md-2" *ngFor="let user of UsersList" 
            (click)="onSelect(user)">
            <img src="{{user.picture.medium}}" alt="Generic placeholder image">
            <span>{{user.name.title}}. {{user.name.first}} {{user.name.last}}</span>
        </div>
    </div>
</div>
<div *ngIf="!UsersList?.length">Loadding...</div> 

<div *ngIf="selectedUser">
    Selected User :  
    <p *ngIf="selectedUser.name">
            {{selectedUser.name.title}}. {{selectedUser.name.first}} {{selectedUser.name.last}}
    </p>
</div>