 <div *ngIf="UsersList?.length">
    <h1>Users</h1>
    <ul class="list-unstyled users-card">
        <li class="media" *ngFor="let user of UsersList" 
            (click)="onSelect(user)">
            <img class="d-flex mr-3" src="{{user.picture.medium}}" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{user.name.title}}. {{user.name.first}} {{user.name.last}}</h5>
            </div>
        </li>
    </ul>
    <!-- <ul class="list">
        <li *ngFor="let user of UsersList" 
            (click)="onSelect(user)">
            <p *ngIf="user.name">
                
                {{user.name.title}}. {{user.name.first}} {{user.name.last}}
            </p>
        </li>
    </ul> -->
</div>
<div *ngIf="!UsersList?.length">Loadding...</div> 

<div *ngIf="selectedUser">
    Selected User :  
    <p *ngIf="selectedUser.name">
            {{selectedUser.name.title}}. {{selectedUser.name.first}} {{selectedUser.name.last}}
    </p>
</div>